---
name: golang
"on": pull_request
permissions:
  contents: read
  packages: read
jobs:
  mcvs-golang-action:
    strategy:
      matrix:
        args:
          - testing-type: opa
          - testing-type: security-golang-modules
          - testing-type: security-grype
          - testing-type: security-trivy
            security-trivyignore: ""
    runs-on: ubuntu-24.04
    env:
      TASK_X_REMOTE_TASKFILES: 1
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./
        with:
          security-trivyignore: ${{ matrix.args.security-trivyignore }}
          task-install: yes
          testing-type: ${{ matrix.args.testing-type }}
