# yamllint disable rule:line-length
---
name: taskfile-sorted-units
"on":
  push:
permissions:
  contents: read
jobs:
  taskfile-sorted-units:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - run: |
          check_sorted() {
            local task_name="$1"
            local keys

            keys=$(yq e ".tasks.\"$task_name\" | keys | select(. != null)" Taskfile.yml | sed 's/^- //g')

            if [[ "$keys" != "$(echo "$keys" | sort)" ]]; then
              echo "❌ Keys are not sorted in $task_name"
              echo "Expected:"
              echo "$keys" | sort
              echo
              echo "Found:"
              echo "$keys"
              exit 1
            fi
          }

          for task in $(yq e '.tasks | keys' Taskfile.yml | sed 's/^- //g'); do
            check_sorted "${task}"
          done

          echo "✅ All tasks have sorted keys!"
